.dockerignore

# Project Files unneeded by docker
.git
.gitignore
.github
.clang-format

ci/Makefile
ci/docker
ci/docs
ci/cache
ci/export

AUTHORS
CONTRIBUTING.md
CONTRIBUTORS
LICENSE
README.md
doc

# Native cmake build
build/
build*/

# Editor directories and files
*.user
*.swp
