# ref: https://github.com/docker-library/official-images
name: amd64 Docker

on: [push, pull_request]

jobs:
  Distros:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        distro: [alpine, archlinux, centos, debian, fedora, opensuse, ubuntu]
        lang: [cpp, python, dotnet, java]
      fail-fast: false
    env:
      DISTRO: ${{ matrix.distro }}
      LANG: ${{ matrix.lang }}
    steps:
    - uses: actions/checkout@v3
    - name: Check docker
      run: |
        docker info
        docker buildx ls
    - name: Build base image
      run: make --directory=ci ${DISTRO}_base
    - name: Build env image
      run: make --directory=ci ${DISTRO}_${LANG}_env
    - name: Build devel project
      run: make --directory=ci ${DISTRO}_${LANG}_devel
    - name: Build project
      run: make --directory=ci ${DISTRO}_${LANG}_build
    - name: Test project
      run: make --directory=ci ${DISTRO}_${LANG}_test

    - name: Build install env image
      run: make --directory=ci ${DISTRO}_${LANG}_install_env
    - name: Build install devel project
      run: make --directory=ci ${DISTRO}_${LANG}_install_devel
    - name: Build install project
      run: make --directory=ci ${DISTRO}_${LANG}_install_build
    - name: Test install project
      run: make --directory=ci ${DISTRO}_${LANG}_install_test
